block vars
	- var pagename = ''
	- var pagetitle = 'Graphic Design & Website Development'
	- var description = "Sunderland Studio is a full-service website design and development studio based in Los Angeles. We create websites, brand identities and marketing materials for a variety of startups and angencies."

doctype html
html.no-js(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/assets/css/app.css")
		// link(rel="stylesheet", href="//use.typekit.net/hee8rms.css")
		title= 'Sunderland Studio | ' + pagetitle
		meta(name="description" content=description)

		link(rel="apple-touch-icon", sizes="180x180", href="/assets/images/favicons/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="/assets/images/favicons/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="/assets/images/favicons/favicon-16x16.png")
		link(rel="manifest", href="/assets/images/favicons/site.webmanifest")
		link(rel="shortcut icon", href="/assets/images/favicons/favicon.ico")
		meta(name="msapplication-TileColor", content="#000000")
		meta(name="msapplication-config", content="/assets/images/favicons/browserconfig.xml")
		meta(name="theme-color", content="#ffffff")

		block head
	body(class=pagename)
		include _header

		block content

		include _footer

		script(src='/assets/js/app.js')

		block script

		script(async src="https://identity.netlify.com/v1/netlify-identity-widget.js")
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-595111-38")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-595111-38');
