block vars
	- var pagename = 'home'

doctype html
html.no-js(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/assets/css/app.css")
		// link(rel="stylesheet", href="//use.typekit.net/hee8rms.css")
		title Sunderland Studio
		meta(name="description" content="")
		block head
	body
		include _header

		block content

		include _footer

		script(src='/assets/js/app.js')

		block script
			
		script(async src="https://identity.netlify.com/v1/netlify-identity-widget.js")
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-XXXXXX-XX")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-XXXXXX-XX');
