section#contact
	.row
		.column
			h2.float-left(style="margin-top: 0;") Let's work together!
			a.button.large.hollow.colorful.float-right(href="mailto:mail@sunderlandstudio.com" target="_blank") Contact Me &rarr;
	.row
		.column
			ul.menu
				li: a(href="mailto:mail@sunderlandstudio.com")
					.icon-email
					| Email
				li: a(href="http://www.facebook.com/sunderlandstudio")
					.icon-facebook
					| Facebook
				li: a(href="http://www.linkedin.com/in/stevesunderland" target="_blank")
					.icon-linkedin
					| LinkedIn
				li: a(href="http://www.behance.net/stevesunderland" target="_blank")
					.icon-behance
					| Behance

.mobile-menu
	.row.column
		h1: a(href="/") Sunderland Studio
		a.button.hollow.float-right.menu-toggle(href="#") Close
		ul
			li: a(href="/portfolio/") Portfolio
			li: a(href="/#services") Services
			li: a(href="/#testimonials") Testimonials
			li: a(href="/#background") Background
			li: a(href="mailto:mail@sunderlandstudio.com") Contact
