header.fade-in
	.row.align-middle
		.column
			h1
				a(href="/") Sunderland Studio
			ul.menu.float-right.show-for-large(style="margin-top: 0.5em;")
				li: a(href="/portfolio/") Portfolio
				li: a(href="/#services") Services
				li: a(href="/#testimonials") Testimonials
				li: a(href="/#background") Background
				li: a(href="mailto:mail@sunderlandstudio.com") Contact
				
			a(href="#" class="button hollow menu-toggle float-right hide-for-large" style="border-bottom: none;") Menu
