.column.portfolio-item(class=(item.tags ? item.tags.split(',').join(' ') : ''), data-bg=backgroundImage(item.gallery[0].url))
	a(href='/portfolio/'+item.slug+'.html')
		.item
			//- img(src=backgroundImage(item.gallery[0].url))
			.item-inner
				h6= item.title
				p.tags
					if item.tags
						for tag in item.tags.split(',')
							span.label= tag
