extends _base

block content 
  section#hero
    .row.align-middle
      .column
        h2 Portfolio 
      //- .column.shrink
        //- a.button.hollow.portfolio-filters-toggle(href='#')
          //- span.up &uarr; Filter
          //- span.down &darr; Filter
  
    .row
      .column
        ul.menu.portfolio-filters(style='margin-bottom: 1em;')
          li
            a(href='#', data-filter='*')
              | #all 
              sup articles.length
          for item in tags
            li
              a(href='#', data-filter='.'+item)
                | ##{item} 

  section#portfolio.bg-gray
    .row.collapse.expanded.small-up-1.medium-up-2.large-up-3.text-center.portfolio-grid
      for item in articles
        if item.gallery 
          include _portfolio-item
          
