extends _base

block head
	style(type="text/css").
		h3 {
			border-bottom: 0;
		}
		p.lead {
			max-width: 26em;
		}

block content

	section.padding
		.row
			.column
				h2 UI samples
				//- p.lead


	section.padding
		.row.align-middle.expanded
			.column
				img(src="/assets/images/portfolio--concept-to-clinic---Showcase-1.jpg", alt="")
			.column
				h3 Concept to Clinic
				p.lead Design and development for a data science challenge.
				h6: a(href="/portfolio/concept-to-clinic.html") Portfolio Link &rarr;
				h6: a(href="https://concepttoclinic.drivendata.org/home/" rel="external") Project Link &rarr;

	section.padding
		.row.align-middle.expanded
			.column
				img(src="/assets/images/portfolio-drivendata-competition-large.jpg", alt="")
			.column
				h3 DrivenData
				p.lead Design and development for a data science competition platform.
				h6: a(href="/portfolio/concept-to-clinic.html") Portfolio Link &rarr;
				h6: a(href="https://concepttoclinic.drivendata.org/home/" rel="external") Project Link &rarr;

	section.padding
		.row.align-middle.expanded
			.column
				img(src="/assets/images/zamba-hero.jpg", alt="")
			.column
				h3 Zamba Cloud
				p.lead Design and front-end development for an open-source software project that uses machine learning to identify different types of wildlife.
				//- h6: a(href="") Portfolio Link &rarr;
				h6: a(href="https://www.zambacloud.com/") Project Link &rarr;

	section.padding
		.row.align-middle.expanded
			.column
				img(src="/assets/images/portfolio-futurist-2.jpg", alt="")
			.column
				h3 Futurist Institute
				p.lead Design, front-end and back-end development for a custom online learning platform.
				h6: a(href="/portfolio/futurist-institute") Portfolio Link &rarr;
				h6: a(href="https://www.futuristinstitute.org") Project Link &rarr;

	section.padding
		.row.align-middle.expanded
			.column
				img(src="/assets/images/delve-hero.jpg", alt="")
			.column
				h3 Microsoft Delve
				p.lead Designs for an updated version of Microsoft's corporate analytics platform.

	section.padding
		.row.align-middle.expanded
			.column
				img(src="/assets/images/indicator-hero.jpg", alt="")
			.column
				h3 Indicator
				p.lead Design, front-end and back-end development for a data-driven medical reference.

	section.padding
		.row.align-middle.expanded
			.column
				img(src="/assets/images/readvisor-hero.jpg", alt="")
			.column
				h3 ReAdvisor
				p.lead Design for a real estate website

	section.padding
		.row.align-middle.expanded
			.column
				img(src="/assets/images/onpatient-imac-1.jpg", alt="")
			.column
				h3 DrChrono
				p.lead Design & front-end development for an iOS and web-based EHR platform.
				h6: a(href="/portfolio/drchrono") Portfolio Link &rarr;

	section.padding
		.row.align-middle.expanded
			.column.text-center
				img(src="/assets/images/zerocater-map.jpg")
			.column
				h3 ZeroCater
				p.lead Design &amp; front-end development for a food delivery service.
				h6: a(href="/portfolio/zerocater") Portfolio Link &rarr;



