---
layout: default
---

<section id="hero" class="fade-in delay-1">
	<div class="row">
		<div class="column">
			<h2>
				Creative websites for unique companies.
			</h2>
			<p class="lead">
				I create hand-crafted websites and brand identities that will help you stand out from the competition.
			</p>
		</div>
	</div>
</section>

<section id="portfolio" class="bg-gray fade-in delay-2">
	<div class="row collapse expanded small-up-1 medium-up-2 large-up-3 text-center portfolio-grid">
		{% assign portfolio_items = site.portfolio | where: "featured", "true"  %}
		{% for item in portfolio_items limit:12 %}
			{% if item.gallery and item.featured %}
				{% include portfolio-item.html %}
			{% endif %}
		{% endfor %}
	</div>
</section>
<section class="row expanded column text-center bg-black" style='padding: 5em 0 0;'>
	<a class="button hollow" href="/portfolio">
		View All Projects &rarr;
	</a>
</section>

<section id="services" class="bg-black">

	<div class="row small-up-1 medium-up-3 text-center">

		<div class="column">
			<div id="canvas1"></div>
			<div class="animateme" data-when='enter' data-from='1' data-to='0' data-opacity='1' data-translatey='500'>
				<h3>
					<small>Graphic</small> Design
				</h3>
				<p>
					From brand identities to printed marketing materials, I can give your company a fresh look that stands out from the crowd.
				</p>
			</div>
		</div>
		<div class="column">
			<div id="canvas2"></div>
			<div class="animateme" data-when='enter' data-from='1' data-to='0' data-opacity='1' data-translatey='500'>
				<h3>
					<small>Website</small> Development
				</h3>
				<p>
					I custom-build all of my websites using a variety of open-source frameworks and CMS platforms. No cookie-cutter Wordpress themes!
				</p>
			</div>
		</div>
		<div class="column">
			<div id="canvas3"></div>
			<div class="animateme" data-when='enter' data-from='1' data-to='0' data-opacity='1' data-translatey='500'>
				<h3>
					<small>Marketing</small> Strategy
				</h3>
				<p>
					I can help you make the most of the latest technologies and put them to work for your company.
				</p>
			</div>
		</div>
	</div>
</section>

<section id="testimonials" class="bg-gray padding">
	<div class="row collapse expanded small-up-1 medium-up-2 large-up-3 align-center">
		{% for item in site.testimonials %}
			<div class="column">
				<blockquote>
					<p class="lead">
						{{ item.quote }}
					</p>
					<cite>
						{{ item.title }}

					</cite>
				</blockquote>
			</div>
		{% endfor %}
	</div>
</section>

<section id="background">
	<div class="row expanded align-middle">
		<div class="column small-12 large-7 scrollme">
			<img src="" alt="" class="parallax" data-src='/assets/images/sunderland-portrait.jpg' alt='Steve Sunderland portrait' style='width: 100%;'>
		</div>
		<div class="column small-12 large-5 large-offset-0">
			<h3 style="margin-top: 0;">
				Steve Sunderland
			</h3>
			<p style="margin-bottom: 2em;">
				Steve is a Graphic Designer and Web Developer currently living in Los Angeles. He graduated from the Fashion Institute of Technology in New York City with a degree in Communication Design. Over the past decade, Steve has developed design solutions for a variety of companies including startups, agencies, artists and non-profit organizations.
			</p>
			<a href='/assets/files/sunderland-resume.pdf' target="_blank" class="button hollow">
				View my Resume &rarr;
			</a>
		</div>
	</div>
</section>
