---
layout: default
---

<section id="hero" class="wow fade-in delay-1">
  <div class="row align-middle">
    <div class="column">
      <h2>Portfolio</h2>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <ul class="menu portfolio-filters" style='margin-bottom: 1em;'>
        <li>
          <a href="#" style="color: #999;">Filter by:</a>
        </li>
        <li>
          <a href="#" data-filter="*">all</a>
        </li>
        {% assign tags = site.tags | where: "featured", "true" %}
        {% for item in tags %}
          <li>
            <a href="#" data-filter=".{{ item.title }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section id="portfolio" class="bg-gray wow fade-in delay-2">
  <div class="row collapse expanded small-up-1 medium-up-2 large-up-3 text-center portfolio-grid">
    {% assign portfolio_items = site.portfolio | sort_by: "date" | reverse %}
    {% for item in portfolio_items %}
      {% if item.gallery %}
        {% include portfolio-item.html %}
      {% endif %}
    {% endfor %}
  </div>
</section>

