{% assign tags = item.tags | split: "," | join: " " | replace: '["', '' | replace: '"]', '' | replace: "-", " " %}
<div class="column small-12 medium-6 large-4 portfolio-item {{ tags }}">
  <div class="item fade-in delay-{{ forloop.index }}">
    {% assign bg_image = item.gallery[0].url | split: '.' %}
    {% assign bg_string = bg_image[0] | append: '-680.' | append: bg_image[1] %}

    <a href="{{ item.url }}" aria-label="{{ item.title  }}">
      <img data-src="{{ bg_string }}" alt="" width="600" height="400">
    </a>
    <div class="overlay">
      <div class="item-inner">
        <h3>{{ item.title }}</h3>
        <p>{{ item.short_description | default: "Website Design & Development" }}</p>
      </div>
    </div>
  </div>
</div>