<style>
	#contact .menu {
		font-weight: 600;
	}
	#contact .menu img {
		display: inline-block;
		height: 1.5em;
		width: auto;
		margin-right: 0.5em;
	}
</style>
<section id="contact">
	<div class="row">
		<div class="column">
			<h2 class="float-left" style="margin-top: 0;">
				Let's work together!
			</h2>
			<a href="mailto:mail@sunderlandstudio.com" target="_blank" class="button large hollow colorful float-right">Contact Me</a>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<ul class="menu">
				<li>
					<a href="mailto:mail@sunderlandstudio.com">
						<div class="icon-email"></div><img data-src="/assets/images/icon-mail.svg"> Email
					</a>
				</li>
{% comment %}				<li>
					<a href="http://www.facebook.com/sunderlandstudio">
						<div class="icon-facebook"></div> Facebook
					</a>
				</li>{% endcomment %}
				<li>
					<a href="http://www.linkedin.com/in/stevesunderland" target="_blank">
						<div class="icon-linkedin"></div><img data-src="/assets/images/icon-linkedin.svg"> LinkedIn
					</a>
				</li>
				{% comment %}<li>
					<a href="http://www.behance.net/stevesunderland" target="_blank">
						<div class="icon-behance"></div> Behance
					</a>
				</li>{% endcomment %}
			</ul>
		</div>
	</div>
</section>

<div class="mobile-menu">
	<div class="row column">
		<h1>
			<a href="/">
				Sunderland Studio
			</a>
		</h1>
		<a href="#" class="button hollow float-right menu-toggle"></a> Close
		<ul>
			<li>
				<a href="/portfolio">
					Portfolio
				</a>
			</li>
			<li>
				<a href="/#services">
					Services
				</a>
			</li>
			<li>
				<a href="/#testimonials">
					Testimonials
				</a>
			</li>
			<li>
				<a href="/#background">
					Background
				</a>
			</li>
			<li>
				<a href="mailto:mail@sunderlandstudio.com">
					Contact
				</a>
			</li>
		</ul>
	</div>
</div>
