{% assign tags = item.tags | split: "," | join: " " | replace: '["', '' | replace: '"]', ''%}
<div class="column portfolio-item {{ tags }}">
	<a href="{{ item.url }}">
		<div class="item">
			{% assign bg_image = item.gallery[0].url | split: '.' %}
			{% assign bg_string = bg_image[0] | append: '-680.' | append: bg_image[1] %}
			<img data-src="{{ bg_string }}" alt="" width="600" height="400">
			<div class="overlay">
				<div class="item-inner">
					<h6>
						{{ item.title }}
					</h6>
					<p class="tags">
						{% if item.tags %}
							{% assign tags = item.tags | replace: '["', '' | replace: '"]', '' | split: "," %}
							{% for tag in tags | split: "," %}
								<span class="label">
									{{ tag | replace: ',', ' ' }}
								</span>
							{% endfor %}
						{% endif %}
					</p>
				</div>
			</div>
		</div>
	</a>
</div>