{% assign tags = item.tags | split: "," | join: " " | replace: '["', '' | replace: '"]' %}
{% comment %}<pre>{{ tags }}</pre>{% endcomment %}
<div class="column portfolio-item {{ tags }}">
	<a href="{{ item.url }}">
		<div class="item">
			{% assign bg_image = item.gallery[0].url | split: '.' %}
			{% assign bg_string = bg_image[0] | append: '-680.' | append: bg_image[1] %}
			{% comment %}<img data-src="{{ item.gallery[0].url }}" alt="">{% endcomment %}
			<img data-src="{{ bg_string }}" alt="">
			<div class="overlay">
				<div class="item-inner">
					<h6>
						{{ item.title }}
					</h6>
					<p class="tags">
						{% if item.tags %}
							{% for tag in item.tags | split: "," %}
								<span class="label">
									{{ tag }}
								</span>
							{% endfor %}
						{% endif %}
					</p>
				</div>
			</div>
		</div>
	</a>
</div>