<section class="showcase" style="background-color: {{ item.showcase.color }}", data-bg={{ item.showcase.image }}>
  <div class="row expanded align-middle">
    <div class="column small-12 large-6"></div>
    <div class="column small-12 large-6">
      <h6>
        {{ item.title }}
      </h6>
      <h2>
        {{ item.showcase.title }}
      </h2>
      {% assign tags = item.showcase.tags | split: "," %}
      {% for tag in tags %}
        <span class="label">{{ tag }}</span>
      {% endfor %}
      <br>
      <a href="{{ item.url }}" class="button">
        Explore &rarr;
      </a>
    </div>
  </div>
</section>
