---
layout: default
---

<section id="hero" class="wow fade-in delay-1">
  <div class="row align-middle">
    <div class="column">
      <h2>Portfolio</h2>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <ul class="menu portfolio-filters">
        <li>
          <a href="#">Filter by:</a>
        </li>
        <li>
          <a href="#" data-filter="*">all</a>
        </li>
        {% assign tags = site.tags | where: "featured", "true" %}
        {% for item in tags %}
          <li>
            <a href="#" data-filter=".{{ item.title }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section id="portfolio" class="bg-gray wow fade-in delay-2">
  <div class="row collapse expanded small-up-1 medium-up-2 large-up-3 portfolio-grid">
    {% assign portfolio_items = site.portfolio %}
    {% for item in portfolio_items %}
      {% if item.gallery %}
        {% include portfolio-item.html %}
      {% endif %}
    {% endfor %}
  </div>
</section>

<section class="wow fade-in" style="margin-top: 4em;">
  <div class="row">
    <div class="column small-12 large-8">
      <p class="lead">All projects were designed by Steve unless otherwise noted.<br>All website projects were hand-coded by Steve.</p>
      {% comment %}<a href="/archive" class="button clear" style="color: black;">View project archive &rarr;</a>{% endcomment %}
    </div>
  </div>
</section>

