---
layout: default
---

<div class="portfolio-content wow fade-in delay-1">
  <div class="row title-row">
    <div class="column">
      <a href="/portfolio">&larr; portfolio</a>
      <h2>{{ page.title }}</h2>
      {% comment %} <h6 class="mono">{{ page.short_description }}</h6> {% endcomment %}
    </div>
  </div>
  <div class="row align-justify wow fade-in delay-2">
    <div class="column small-12 large-7">
      <p class="lead">{{ page.description | markdownify | replace: "<p>" | replace: "</p>" }}</p>
    </div>
    <div class="column small-12 large-5">
      {% if page.testimonial %}
        <blockquote style="margin-left: 0;">
          <p><span>&ldquo;</span>{{ page.testimonial.quote }}&rdquo;</p>
          <cite>&mdash; {{ page.testimonial.title }}</cite>
        </blockquote>
      {% endif %}
    </div>
  </div>
  <div class="row column wow fade-in delay-3">
    {% if page.website and page.website != "" %}
      <a href="{{ page.website }}" rel="noopener" target="_blank" class="button large hollow">Visit the website {% include icon-arrow-right.svg %}</a>
    {% endif %}
  </div>
</div>

<div class="row align-center wow fade-in delay-4">
  <div class="column {% if page.legacy == true  %}small-12 large-8{% endif %}">
    {% if page.gallery %}
      {% for image in page.gallery %}
        <div class="portfolio-item-image {% if forloop.index == 0 %}browser{% endif %} portfolio-image-{{ forloop.index0 }}">
          <div class="loader">
            {% if image.url contains 'svg' %}
              {% comment %} <img src="{{ image.url  }}" alt=""> {% endcomment %}
              <object data="{{ image.url  }}" type="image/svg+xml"></object>
            {% else %}
              {% assign image_url = image.url | replace: '.jpg', '-original.jpg' %}
              <img src="{{ image_url }}" alt="">
            {% endif %}
          </div>
          {% if image.caption %}
            <p class="caption">&uarr; {{ image.caption }}</p>
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}

    <div class="text-center">
      {% if page.website and page.website != "" %}
        <a href="{{ page.website }}" rel="noopener" target="_blank" style="margin-bottom: 2em;" class="button large hollow">Visit the website {% include icon-arrow-right.svg %}</a>
        <br>
      {% endif %}
    </div>
  </div>
</div>

<div class="pagination">
  <div class="row align-justify">
    <div class="column small-6 medium-4">
      {% if page.previous %}
        {% assign previous = page.previous %}
      {% else %}
        {% assign previous = site.portfolio.last %}
      {% endif %}
      <a href="{{ previous.url }}">
        <img data-src="{{ previous.gallery[0].url | replace: '.jpg', '-680.jpg' }}" alt="{{ previous.title }}">
        <div class="button secondary clear mono">&larr; Previous</div>
        <p class="lead">{{ previous.title }}</p>
      </a>
    </div>
    <div class="column show-for-medium small-12 medium-4">
      <a href="/portfolio">
        <div class="responsive-embed">
          <div class="text-center">
            <span class="button secondary clear mono">&uarr;&nbsp;portfolio</span>
          </div>
        </div>
      </a>
    </div>
    <div class="column small-6 medium-4 text-right">
      {% if page.next %}
        {% assign next = page.next %}
      {% else %}
        {% assign next = site.portfolio.first %}
      {% endif %}
      <a href="{{ next.url }}">
        <img data-src="{{ next.gallery[0].url | replace: '.jpg', '-680.jpg' }}" alt="{{ next.title }}">
        <div class="button secondary clear mono">Next {% include icon-arrow-right.svg %}</div>
        <p class="lead">{{ next.title }}</p>
      </a>
    </div>
  </div>
</div>