---
layout: default
---

<section class="padding">
    <div class="row">
        <div class="column">
            <h2>UI/UX Samples</h2>
        </div>
    </div>
</section>
<section class="padding">
    <div class="row align-middle expanded medium-unstack">
        <div class="column"><img src="/assets/images/portfolio--concept-to-clinic---Showcase-1.jpg" alt="" /></div>
        <div class="column">
            <h3>Concept to Clinic</h3>
            <p class="lead">Design and development for a data science challenge.</p>
            <a class="button clear" href="/portfolio/concept-to-clinic.html">View Project {% include icon-arrow-right.svg %}</a>
        </div>
    </div>
</section>
<section class="padding">
    <div class="row align-middle expanded medium-unstack">
        <div class="column"><img src="/assets/images/portfolio-drivendata-competition-large.jpg" alt="" /></div>
        <div class="column">
            <h3>DrivenData</h3>
            <p class="lead">Design and development for a data science competition platform.</p>
            <a class="button clear" href="/portfolio/concept-to-clinic.html">View Project {% include icon-arrow-right.svg %}</a>
        </div>
    </div>
</section>
<section class="padding">
    <div class="row align-middle expanded medium-unstack">
        <div class="column"><img src="/assets/images/zamba-hero.jpg" alt="" /></div>
        <div class="column">
            <h3>Zamba Cloud</h3>
            <p class="lead">Design and front-end development for an open-source software project that uses machine learning to identify different types of wildlife.</p>
            <a class="button clear" href="/portfolio/zamba">View Project {% include icon-arrow-right.svg %}</a>
        </div>
    </div>
</section>
<section class="padding">
    <div class="row align-middle expanded medium-unstack">
        <div class="column"><img src="/assets/images/portfolio-futurist-2.jpg" alt="" /></div>
        <div class="column">
            <h3>The Futurist Institute</h3>
            <p class="lead">Design, front-end and back-end development for a custom online learning platform.</p>
            <a class="button clear" href="/portfolio/futurist-institute">View Project {% include icon-arrow-right.svg %}</a>
        </div>
    </div>
</section>
<section class="padding">
    <div class="row align-middle expanded medium-unstack">
        <div class="column"><img src="/assets/images/author-institute-portfolio-1-1440.jpg" alt="" /></div>
        <div class="column">
            <h3>The Author Institute</h3>
            <p class="lead">Design, front-end and back-end development for a custom online learning platform.</p>
            <a class="button clear" href="/portfolio/author-institute">View Project {% include icon-arrow-right.svg %}</a>
        </div>
    </div>
</section>
<section class="padding">
    <div class="row align-middle expanded medium-unstack">
        <div class="column"><img src="/assets/images/delve-hero.jpg" alt="" /></div>
        <div class="column">
            <h3>Microsoft Delve</h3>
            <p class="lead">Designs for an updated version of Microsoft's corporate analytics platform.</p>
        </div>
    </div>
</section>
<section class="padding">
    <div class="row align-middle expanded medium-unstack">
        <div class="column"><img src="/assets/images/indicator-hero.jpg" alt="" /></div>
        <div class="column">
            <h3>Indicator</h3>
            <p class="lead">Design, front-end and back-end development for a data-driven medical reference.</p>
            <a class="button clear" href="/portfolio/indicator">View Project {% include icon-arrow-right.svg %}</a>
        </div>
    </div>
</section>
<section class="padding">
    <div class="row align-middle expanded medium-unstack">
        <div class="column"><img src="/assets/images/readvisor-hero.jpg" alt="" /></div>
        <div class="column">
            <h3>ReAdvisor</h3>
            <p class="lead">Design for a real estate website</p>
            <a class="button clear" href="/portfolio/readvisor">View Project {% include icon-arrow-right.svg %}</a>
        </div>
    </div>
</section>
<section class="padding">
    <div class="row align-middle expanded medium-unstack">
        <div class="column"><img src="/assets/images/onpatient-imac-1.jpg" alt="" /></div>
        <div class="column">
            <h3>DrChrono</h3>
            <p class="lead">Design & front-end development for an iOS and web-based EHR platform.</p>
            <a class="button clear" href="/portfolio/drchrono">View Project {% include icon-arrow-right.svg %}</a>
        </div>
    </div>
</section>
<section class="padding">
    <div class="row align-middle expanded medium-unstack">
        <div class="column text-center"><img src="/assets/images/zerocater-map.jpg" /></div>
        <div class="column">
            <h3>ZeroCater</h3>
            <p class="lead">Design &amp; front-end development for a food delivery service.</p>
            <a class="button clear" href="/portfolio/zerocater">View Project {% include icon-arrow-right.svg %}</a>
        </div>
    </div>
</section>